.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    display: block;
    background-color: white;
    padding: 2rem 3rem;
}

body {
    background-image: url("./image/bg-navidad-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
